<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<a href="/create-category">Create new category</a>
<h1>Authors</h1>
<table border="1">
    <tr>
        <th>Type</th>
        <th>Author</th>

        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="category : ${categories}">
        <tr>
            <td><a th:href="@{/view-category/__${category.type}__}" th:text="${category.type}"></a></td>
            <td><a th:href="@{/view-category/__${category.author}__}" th:text="${category.author}"></a></td>
            <td><a th:href="@{/edit-category/__${category.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${category.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>